<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="static/css/blog-home.css" rel="stylesheet">

<title>Pitoflautas blog - Login</title>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container" id="header">

       </div>
   	</nav>

	<div class="container">
		<form class="form-signin" role="form"
			style="max-width: 330px; display: block; padding: 15px">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="email" class="form-control" placeholder="Email address"
				required autofocus> <input type="password"
				class="form-control" placeholder="Password" required>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>
	</div>
	
	<!--login modal-->
<!-- <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>	
      </div>
  </div>
  </div>
</div> -->

	<!-- JavaScript -->
	<script src="static/js/jquery-1.10.2.js"></script>
	<script src="static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/innerHtml.js"></script>

</body>
</html>