<!-- SIDEBAR -->
<div class="col-lg-4">
	<div class="well">
		<!-- 					<h4>About me</h4> -->
		<div class="row">
			<div class="col-lg-6">
				<img src="/static/img/marcos.png" alt=""
					class="img-circle img-responsive" />
			</div>
			<div class="col-lg-6">
				<p>Me llamo Marcos, tengo 26 años. Me gusta todo lo relacionado con la informática
				y también el Mus y las tapas. Espero que os gusten los temas de este blog.</p>
			</div>
		</div>
	</div>
<!-- 	<div class="well">
		<h4>Búsqueda</h4>
		<div class="input-group">
			<input type="text" class="form-control"> <span
				class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div> -->
	<!-- /well -->
	<div class="well">
		<a class="twitter-timeline" href="https://twitter.com/Markius_" data-widget-id="468150930974576641">Tweets por @Markius_</a>
		
		<!--  Twitter sidebar -->
		<script>!function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0],
			p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);}}
			(document,"script","twitter-wjs");
		</script>

	</div>
	
	<div class="well">
		<h4>Blog tecnológico</h4>
		<p>Cosillas que voy haciendo relacionadas con la informática</p>
	</div>
	<!-- /well -->
</div>